<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NSStringDemo_Test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EF9C461D1F74E71800136D5F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EF9C46361F74E71900136D5F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EF9C46411F74E71900136D5F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
